html{
  background: #966363;
  -webkit-transition: 0.2s ease-out;
}

/* #navBar{
  -webkit-transition: 0.2s ease-out;
  background: black;
}

.fa-align-justify{
  position: fixed;
  height: 50px;
  width: 50px;
  top: 20px;
  left: 20px;
  border-radius: 60px;
  box-shadow: none;
  text-decoration: none;
} */

/* #titleDiv{
  width: 95%;
  border-bottom: 2px solid black;
  margin-bottom: 50px;
}
*/

#navBar{
  height: 90px;
  width: 101%;
  background: #3d3c3c;
  border: none;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: -10px;
  margin-left: -10px;
  -webkit-transition: 0.20s ease-out;
}

#navBar:hover{
  background: #212121;
}

#title{
  font-family: titlePage;
  font-size: 50px;
  color: white;
  text-align: center;
}

#outerDiv{
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

#innerDiv{
  background: white;
  width: 85%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #888888;
  padding: 40px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#titleArticle{
  font-size: 80px;
  font-family: titleArticle;
  line-height: 0px;
}

sub{
  font-size: 15px;
}

wordCount{
  font-style: italic;
}

a, p{
  font-size: 27px;
  line-height: 50px;
  font-family: Times, sans-serif;
  word-wrap: break-word;
}

b{
  font-family: titleArticle;
}

b{
  line-height: 70px;
}

tab{
  margin-left: 60px;
}

big{
  font-size: 45px;
}

@font-face {
  font-family: titlePage;
  src: url(amita-bold.ttf);
}

@font-face {
  font-family: titleArticle;
  src: url(ADAM.CG.otf);
}
